# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
ENV/
*.db
backend/sql_app.db

# Node / Frontend
node_modules/
frontend/node_modules/
dist/
frontend/dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Models / Cache
.EasyOCR/
*.pth
*.zip

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
